---
layout: default
title: Résumé
---
<main class="container">
  <article class="row">
    <div class="col-xs-12">
      <h1 id="resume">R&eacute;sum&eacute;</h1>
      <div>
      <p class="btn-group">
        <a class="btn btn-default btn-sm" href="/files/Resume.pdf">Download PDF</a>
        <a class="btn btn-default btn-sm" href="/files/Resume.md">Markdown</a>
      </p>
      </div>
    </div>
    <div class="col-xs-12">
      {% capture resume_content %}{% include resume_content.md %}{% endcapture %}
      {{ resume_content | markdownify }}
    </div>
  </article>
  {% include footer.html %}
</main>
<img src="http://api.stathat.com/c?ukey=Mzc5NyD9LTBB4AKD3yVSH_HZRusY&key=wu8ws4jI1aK-Lo_YBEaRxSBNSW1CNw~~&count=1" style="display:none;" width="1" height="1">
