<div class="container">
  <div class="col-xs-12">
    <h2>Hello!</h2>
    <p>
      I am a developer with experience in Web and iOS development. I will be receiving my BS in Computer Science from the University of Kentucky in May, 2014.
    </p>
    <br>
    <p>
      While being a full-time student, I have also been able to work part-time at Alltech, Inc. and the UK Department of Communication. This work has given me real-world experience working on teams as a software developer. As a result, I've become proficient with PHP, MySQL, HTML/CSS, Objective-C, and C++.
    </p>
    <br>
    <p>
      I have a penchant for obsessing over the little details that make something truly great. From that obsession has arisen my passion for making memorable user experiences. I want to make products that people will love and use every day!
    </p>
  </div>
  <div class="col-xs-12">
    <a href="/resume.html" class="btn btn-primary">See My R&eacute;sum&eacute;</a>
  </div>
</div>
