<div id="footer" class="container">
  <div class="col-xs-12">
    <hr>
    <p class="lead">
      Reach out:
      <a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#x6f;&#x3a;&#x6d;&#107;&#108;&#98;&#116;&#122;&#64;&#103;&#x6d;&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;" title="&#109;&#107;&#x6c;&#98;&#x74;&#x7a;&#x40;&#x67;&#109;&#x61;&#105;&#x6c;&#x2e;&#x63;&#111;&#x6d;">&ensp;<span class="zocial-email"></span>&ensp;</a>
      <a href="http://twitter.com/mklbtz">&ensp;<span class="zocial-twitter"></span>&ensp;</a>
      <a href="http://steamcommunity.com/id/mklbtz/">&ensp;<span class="zocial-steam"></span>&ensp;</a>
      <a href="http://www.reddit.com/user/mklbtz">&ensp;<span class="zocial-reddit"></span>&ensp;</a>
      <a href="https://www.linkedin.com/profile/view?id=147740133">&ensp;<span class="zocial-linkedin"></span>&ensp;</a>
      <a href="/heart.html">&ensp;&#9825;&ensp;</a>
    </p>
  </div>
</div>
