<div class="container-fluid">
  <div class="row">
    <img src="/images/banner_1.jpg" class="img-responsive header-border">
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <h1><b><a href="/">MICHAEL BATES</a></b></h1>
    <h3><em>Web and iOS Development with Passion and Precision</em></h3>

    <p>&emsp;◆&emsp;<a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#x6f;&#x3a;&#x6d;&#107;&#108;&#98;&#116;&#122;&#64;&#103;&#x6d;&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;">&#109;&#107;&#x6c;&#98;&#x74;&#x7a;&#x40;&#x67;&#109;&#x61;&#105;&#x6c;&#x2e;&#x63;&#111;&#x6d;</a><br class="visible-xs">&emsp;◆&emsp;<a href="tel:5025485769">(502) 548&#8211;5769</a><br class="visible-xs">&emsp;◆&emsp;<a href="http://mklbtz.com">mklbtz.com</a><br/>
    <hr> </p>
  </div>
</div>
