<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header class="site">
        <div class="hidden-xs">
          <img src="/images/face_3.jpg" id="logo" class="img-circle">
        </div>
        <div>
          <h1 id="site-title"><strong><a href="/">MICHAEL BATES</a></strong></h1>
          <h3 id="site-subhead"><em>Web and iOS Development with Passion and Precision</em></h3>
        </div>
      </header>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
