<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header class="site">
        <div>
          <img src="/images/face_5.jpg" id="logo" class="img-circle">
        </div>
        <div>
          <h1 id="site-title"><strong><a href="/">MICHAEL BATES</a></strong></h1>
          <h3 id="site-subhead"><em>iOS and Web Development with Passion and Precision</em></h3>
        </div>
      </header>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
