<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <title>
      {% if page.title %}{{page.title}} - {% endif %}
      {{site.name}}
    </title>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" type='text/css'>
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type='text/css'>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href="/css/custom.css" rel="stylesheet" type='text/css'>
    <link href="/css/syntax.css" rel="stylesheet" type='text/css'>
  </head>
  <body>
