<article class="post row">
  <div class="col-xs-12">
    <header>
      <h1>
        {% if post.link %}
          <a href="{{ post.link }}" target="_blank">
            <i>{{ post.title }}</i> &rarr;
          </a>
        {% else %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </h1>
      <p><small>
        {% if post.date %}
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date_to_string }}
          </time>
          &ensp;
        {% endif %}
        <a href="/feed.xml" class="text-info">Subscribe &rarr;</a>
      </small></p>
    </header>
    {{ content }}
  </div>
</article>
