<div style="display: flex; justify-content: space-between;">
  <a href="/resume.html" class="btn btn-default">My R&eacute;sum&eacute;</a>
  <div class="btn-group">
    <a href="http://github.com/mklbtz" class="btn btn-primary">GitHub</a>
    <a href="http://gist.github.com/mklbtz" class="btn btn-primary">Gists</a>
    <a href="http://twitter.com/mklbtz" class="btn btn-primary">
      Twitter <!-- twitter bird -->
    </a>&ensp;
    <a href="https://www.linkedin.com/in/mklbtz/" class="btn btn-primary">
      Linked-in
    </a>&ensp;
    <a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#x6f;&#x3a;&#x6d;&#107;&#108;&#98;&#116;&#122;&#64;&#103;&#x6d;&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;" class="btn btn-primary">
      Email<!-- email with arrow -->
    </a>&ensp;
  </div>
</div>