<p class="lead">
  Drop me a line&ensp;
  <a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#x6f;&#x3a;&#x6d;&#107;&#108;&#98;&#116;&#122;&#64;&#103;&#x6d;&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;" title="&#109;&#107;&#x6c;&#98;&#x74;&#x7a;&#x40;&#x67;&#109;&#x61;&#105;&#x6c;&#x2e;&#x63;&#111;&#x6d;">
    &#x1F4E8;<!-- incoming email -->
  </a>&ensp;
  <a href="http://twitter.com/mklbtz">
    &#x1F426; <!-- twitter bird -->
  </a>&ensp;
  <a href="https://www.linkedin.com/profile/view?id=147740133">in</a>&ensp;
</p>
