<section id="welcome-message" class="row">
  <div class="col-xs-12">
    <p class="lead">Hello!</p >
    <p>
      I am a software developer with experience in delivering Web and iOS apps to enterprise-scale companies. I prefer strongly-typed languages, such as Swift or Haskell, but I am also proficient in Ruby, JavaScript and Objective-C. Functional programming is my current jam. I am familiar with infrastructure technology, including Docker and many Amazon Web Services. Employed by <a href="http://cirrusmio.com">CirrusMio</a> in Lexington, KY, I am building a Platform-as-a-Service for the Internet-of-Things.
    </p>
    <p>
      I'm no professional designer, but I aspire to be. I obsess over the little details that make software a joy to use. From that obsession has arisen my passion for making memorable user experiences.
    </p>
    <p>
	  I like to <a href="http://www.lexswingdance.com/">swing dance</a> for fun and exercise. I am also involved in community events like <a href="http://startupweekend.org">Startup Weekend</a> and a <a href="http://codeforamerica.org">Code for America</a> brigade.
    </p>
  </div>
  <div class="col-sm-12">
    <a href="/resume" class="btn btn-default">See My R&eacute;sum&eacute;</a>
    <a href="http://github.com/mklbtz" class="btn btn-default">Explore My Code</a>
    <hr>
  </div>
</section>
