<section id="welcome-message" class="row">
  <div class="col-xs-12">
    <p class="lead">Hello!</p>
    <p>
      I am a software developer with ten years of experience delivering iOS and Web apps to enterprise-scale companies. 
      I am a huge fan of Swift, but I am well-versed in many languages.
      I approach problems with a mindset guided by composition, functional programming, and category theory.
      I obsess over the little details that make software a joy to use, whether that's UI or API.
    </p>
    <p>
      I am currently employed by <a href="https://capitalone.com">Capital One</a> in Washington, D.C. where I maintain a suite of internal frameworks for our iOS developers. 
    </p>
  </div>
  <div class="col-xs-12">
    {% include self_references.html %}
    <hr>
  </div>
</section>
