<section id="welcome-message" class="row">
  <div class="col-xs-12">
    <p class="lead">Hello!</p >
    <p>
      I am a developer with experience in Web and iOS development. Specifically, I'm a killer with Ruby on Rails, Swift, and Objective-C. Javascript is for posers. I am currently employed by <a href="http://cirrusmio.com">CirrusMio</a>. Located in Lexington, KY.
    </p>
    <p>
      I'm no designer, but I secretly wish I was. I obsess over the little details that make software a joy to use. From that obsession has arisen my passion for making memorable user experiences.
    </p>
  </div>
  <div class="col-sm-12">
    <a href="/resume" class="btn btn-default">See My R&eacute;sum&eacute;</a>
    <a href="http://github.com/mklbtz" class="btn btn-default">Explore My Code</a>
  </div>
</section>
